<h4>הזמנתך הושלמה בהצלחה</h4>
<table>
    <tr>
        <th>מוצר</th>
        <th>מחיר</th>
        <th>כמות</th>
        <th>ס"ה</th>
    </tr>
    <tr>
        <td>כרטיסי טיסה לטיסה {{flight.number}}</td>
        <td>{{flight.price}}</td>
        <td>{{tickets.length}}</td>
        <td>{{flight.price * tickets.length}}</td>
    </tr>
    <tr *ngIf="this.chosenSeats > 0">
        <td>תוספת מושבים</td>
        <td>20</td>
        <td>{{chosenSeats}}</td>
        <td>{{chosenSeats * 20}}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>ס"ה</td>
        <td>{{flight.price * tickets.length + chosenSeats * 20}}</td>
    </tr>
</table>