<mat-grid-list *ngIf="ELEMENT_DATA" cols="3">
    <mat-grid-tile [colspan]="1" style="border: solid 1px;">
        <div>
            <h4>פרטי הטיסה שלך</h4>
            <p>{{ELEMENT_DATA.departure | date:'HH:mm dd/MM/yy'}} - {{ELEMENT_DATA.landing | date:'HH:mm dd/MM/yy'}}
                <br />
                (זמן משוער : {{ELEMENT_DATA.estimated_time_string}})
            </p>
            <p>{{ELEMENT_DATA.from_country}} ({{ELEMENT_DATA.from_terminal}}) -
                {{ELEMENT_DATA.to_country}} ({{ELEMENT_DATA.to_terminal}})</p>
            <p>{{ELEMENT_DATA.distance}}</p>
            <p>{{ELEMENT_DATA.plain.type}}</p>
            <p>{{ELEMENT_DATA.price}}</p>
            <button mat-raised-button style="background-color: rgb(230, 0, 0); color: white;">מחק טיסה</button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" style="border: solid 1px;">
        <div style="direction: ltr;" class="up-div">
            <div class="flexed-div">
                <div class="texted-div"></div>
                <div *ngFor="let i of ELEMENT_DATA.seats[0];index as index" class="texted-div">
                    <p>{{"ABCDEFGHIJKLMNOP"[index]}}</p>
                </div>
            </div>
            <div *ngFor="let i of ELEMENT_DATA.seats; index as index" class="flexed-div">
                <div class="texted-div">
                    <p>{{index+1}}</p>
                </div>
                <div *ngFor="let x of i" class="texted-div" style="border-color:black;">
                    <p>{{x || 'פנוי'}}</p>
                </div>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>