<div>
    <mat-form-field>
        <mat-label>מספר טיסה</mat-label>
        <input matInput type="text" [(ngModel)]="flight.number" />
    </mat-form-field>
</div>
<div>
    <mat-form-field>
        <mat-label>מדינת מוצא</mat-label>
        <mat-select [(ngModel)]="flight.from_country">
            <mat-option *ngFor="let country of sourcesCountries" value="{{country}}">{{country}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>טרמינל מוצא</mat-label>
        <mat-select [(ngModel)]="flight.from_terminal">
            <mat-option *ngFor="let terminal of terminals[flight.from_country]" value="{{terminal}}">{{terminal}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>מדינת יעד</mat-label>
        <mat-select [(ngModel)]="flight.to_country">
            <mat-option *ngFor="let country of targetCountries" value="{{country}}">{{country}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>טרמינל יעד</mat-label>
        <mat-select [(ngModel)]="flight.to_terminal">
            <mat-option *ngFor="let terminal of terminals[flight.to_country]" value="{{terminal}}">{{terminal}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    <mat-form-field>
        <mat-label>מרחק</mat-label>
        <input matInput type="number" [(ngModel)]="flight.distance" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>סוג מטוס</mat-label>
        <mat-select [(ngModel)]="flight.plain.type">
            <mat-option *ngFor="let i of plainTypes" [value]="i">{{i+1}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>זמן המראה</mat-label>
        <input matInput type="datetime-local" [(ngModel)]="flight.departure" min="{{today | date:'yyyy-MM-ddThh:mm'}}">
    </mat-form-field>
    <mat-form-field>
        <mat-label>מחיר</mat-label>
        <input matInput type="number" [(ngModel)]="flight.price" />
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary" (click)="save()">שמור</button>
</div>