<mat-grid-list cols="3">
    <mat-grid-tile [colspan]="1" style="border: solid 1px;">
        <div>
            <h4>פרטי הטיסה שלך</h4>
            <p>{{ELEMENT_DATA.landingTime | date:'HH:mm dd/MM/yy'}} -
                {{ELEMENT_DATA.arrivalTime | date:'HH:mm dd/MM/yy'}}</p>
            <p>{{ELEMENT_DATA.sourceCountry}} ({{ELEMENT_DATA.sourceTerminal}}) - {{ELEMENT_DATA.targetCountry}}
                ({{ELEMENT_DATA.targetTerminal}})</p>
            <p>{{ELEMENT_DATA.distance}}</p>
            <p>{{ELEMENT_DATA.estimatedTime}}</p>
            <p>{{ELEMENT_DATA.plainType}}</p>
            <p>{{ELEMENT_DATA.cost}}</p>
            <button mat-raised-button style="background-color: rgb(230, 0, 0); color: white;">מחק טיסה</button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" style="border: solid 1px;">
        <div style="direction: ltr;" class="up-div">
            <div class="flexed-div">
                <div class="texted-div"></div>
                <div *ngFor="let i of ELEMENT_DATA.seats[0];index as index" class="texted-div">
                    {{"ABCDEFGH"[index]}}
                </div>
            </div>
            <div *ngFor="let i of ELEMENT_DATA.seats; index as index" class="flexed-div">
                <div class="texted-div">{{index+1}}</div>
                <div *ngFor="let x of i" class="texted-div">
                    {{x}}
                </div>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>