::ng-deep {
    mat-grid-tile {
        overflow: auto !important;
    }

    .copyright {
        position: absolute;
        bottom: 0px; 
    }

    .mat-figure {
        .up-div {
            position: absolute;
            top: 30px;
        }
    }

    .row-flight {
        cursor: pointer;
    }

    .row-flight:hover {
        td {
            border-top: 1px solid;
            border-bottom: 1px solid;
        }
        td:first-child {
            border-right: 1px solid;
        }
        td:last-child {
            border-left: 1px solid;
        }
    }
}
