::ng-deep {
    mat-grid-tile {
        overflow: auto !important;
    }

    .mat-cell {
        padding: 0px 10px !important;
    }

    .mat-header-cell {
        padding: 0px 10px !important;
    }

    #id-number {
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }

        input[type="number"] {
            -moz-appearance: textfield; /* Firefox */
        }
    }

    .copyright {
        position: absolute;
        bottom: 0px;
    }

    .mat-figure {
        .up-div {
            position: absolute;
            top: 30px;
        }
    }

    .row-flight {
        cursor: pointer;
    }

    .row-flight:hover {
        td {
            border-top: 1px solid;
            border-bottom: 1px solid;
        }
        td:first-child {
            border-right: 1px solid;
        }
        td:last-child {
            border-left: 1px solid;
        }
    }

    .flexed-div {
        .nested-flex {
            padding: 20px;
        }
        display: flex;
        align-items: flex-start;
    }

    .texted-div {
        border: 1px solid transparent;
        width: 80px;
        height: 80px;
        text-align: center;
    }

    .head {
        position: relative;
        width: fit-content;
        margin: 50px 20px;
        background: rgb(200, 230, 250);
        // border: solid 1px;
        border-radius: 20px;
        padding: 20px;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
        height: 250px;
    }

    .nested {
        width: fit-content;
        margin: auto;
        position: relative;
    }

    .mat-dialog-container {
        .head {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        box-shadow: 0px 0px;
        background-color: transparent;
    }
    // ::-webkit-scrollbar {
    //     width: 16px;
    //     border: 5px solid white;
    //     border-radius: 60px 0px 0px 60px;
    // }

    // ::-webkit-scrollbar-thumb {
    //     background-color: #b0b0b0;
    //     background-clip: padding-box;
    //     border: 0.05em solid #eeeeee;
    // }

    // ::-webkit-scrollbar-track {
    //     background-color: #bbbbbb;
    // }
    // /* Buttons */
    // ::-webkit-scrollbar-button:single-button {
    //     background-color: #bbbbbb;
    //     display: block;
    //     border-style: solid;
    //     height: 16px;
    //     width: 16px;
    // }
    // /* Up */
    // ::-webkit-scrollbar-button:single-button:vertical:decrement {
    //     margin: 5px;
    //     border-width: 0px 8px 16px 8px;
    //     border-radius: 60px 0px 0px 0px;
    //     border-color: transparent transparent #555555 transparent;
    // }

    // ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    //     border-color: transparent transparent #777777 transparent;
    // }
    // /* Down */
    // ::-webkit-scrollbar-button:single-button:vertical:increment {
    //     border-width: 8px 8px 0 8px;
    //     border-radius: 0px 0px 0px 60px;
    //     border-color: #555555 transparent transparent transparent;
    // }

    // ::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    //     border-color: #777777 transparent transparent transparent;
    // }
}
