::ng-deep {
    mat-grid-tile {
        overflow: auto !important;
    }

    #id-number {
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }

        input[type="number"] {
            -moz-appearance: textfield; /* Firefox */
        }
    }

    .copyright {
        position: absolute;
        bottom: 0px;
    }

    .mat-figure {
        .up-div {
            position: absolute;
            top: 30px;
        }
    }

    .row-flight {
        cursor: pointer;
    }

    .row-flight:hover {
        td {
            border-top: 1px solid;
            border-bottom: 1px solid;
        }
        td:first-child {
            border-right: 1px solid;
        }
        td:last-child {
            border-left: 1px solid;
        }
    }

    .flexed-div {
        .nested-flex {
            padding: 20px;
        }
        display: flex;
        align-items: flex-start;
    }

    .texted-div {
        border: 1px solid transparent;
        width: 80px;
        height: 80px;
        text-align: center;
    }

    .head {
        position: relative;
        width: fit-content;
        margin: 20px;
        margin-top: 50px;
        background: white;
        border: solid 1px;
        border-radius: 20px;
        padding: 20px;
    }
    // ::-webkit-scrollbar {
    //     width: inherit;
    // }

    // ::-webkit-scrollbar-track {
    //     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    //     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    //     border-radius: 22px 0px 0px 22px;
    // }

    // ::-webkit-scrollbar-thumb {
    //     border-radius: 22px 0px 0px 22px;
    //     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    //     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    // }

    // ::-webkit-scrollbar-button {
    //     width: inherit;
    // }
}
