<div class="flexed-div">
    <div class="head" style="flex:2">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        כרטיסי טיסה : {{service.newTickets.length * service.flight.price}}
                    </mat-panel-title>
                    <mat-panel-description>לפירוט</mat-panel-description>
                </mat-expansion-panel-header>
                כמות : {{service.newTickets.length}}
                <br />
                מחיר ליחידה : {{service.flight.price}}₪
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="this.service.chosenSeats>0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        מושבים : {{this.service.chosenSeats * 20}}
                    </mat-panel-title>
                    <mat-panel-description>לפירוט</mat-panel-description>
                </mat-expansion-panel-header>
                כמות : {{this.service.chosenSeats}}
                <br />
                מחיר ליחידה : 20₪
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="head" style="flex:1">
        <ngx-paypal [config]="payPalConfig" (scriptLoaded)="paypalScriptLoaded = true"></ngx-paypal>
        <mat-spinner *ngIf="!paypalScriptLoaded" style="margin:auto"></mat-spinner>
    </div>

</div>
<button (click)="saveOrder()">שמור דמו</button>