<div class="flexed-div">
    <div class="head" style="flex:1" *ngIf="user">
        <h3 style="text-align: center;">פרטי משתמש</h3>
        <p>שם: <b>{{user.name}}</b></p>
        <p>כתובת אימייל: <b>{{user.email}}</b></p>
        <p>מס' טלפון: <b>{{user.phone}}</b></p>
        <div>
            <button mat-raised-button style="background-color: rgb(230, 0, 0); color: white;" (click)="delete()">מחק
                משתמש</button>
            <button mat-raised-button style="background-color: seagreen; color: white;" routerLink="../edit"
                routerLinkActive="active">ערוך פרטי משתמש</button>
        </div>
    </div>
    <div *ngIf="user" class="flexed-div"
        style="flex-wrap: wrap; justify-content: space-around; overflow: auto; max-height: 90%; flex:3;">
        <app-order *ngFor="let order of user.orders" [order]="order"></app-order>
    </div>
</div>