<h3 style="text-align: center;">פרטי הטיסה</h3>
<p>מ: <b>{{flight.from_country}} ({{flight.to_terminal}})</b>, המראה בשעה:
    <b>{{flight.departure | date:'HH:mm dd/MM/yy'}}</b>
    <br />
    ל: <b>{{flight.to_country}} ({{flight.to_terminal}})</b>, נחיתה משוערת בשעה:
    <b>{{flight.landing | date:'HH:mm dd/MM/yy'}}</b>
    <br />
    (זמן טיסה משוער : <b>{{flight.estimated_time_string}}</b> שעות)
</p>
<p>מרחק: <b>{{flight.distance}}</b> ק"מ</p>
<p>סוג מטוס: <b>{{flight.plain.type}}</b></p>
<p>מחיר כרטיס: <b>{{flight.price}}</b> ₪</p>
<div *ngIf="admin">
    <button mat-raised-button style="background-color: rgb(230, 0, 0); color: white;" (click)="delete()">מחק
        טיסה</button>
    <button mat-raised-button style="background-color: seagreen; color: white;"
        routerLink="/admin/flight/edit/{{flight.flight_no}}" routerLinkActive="active">ערוך פרטי טיסה</button>
</div>