<h2>לאן אתה רוצה לטוס איתנו?</h2>
<div class="flexed-div">
    <div class="head" style="flex: 1;" *ngIf="flights?.length>1">
        <h4 style="text-align: center;">חיפוש לפי</h4>
        <mat-label>שעת המראה</mat-label>
        <br />
        <mat-form-field>
            <input matInput type="datetime-local" [(ngModel)]="minTime" min="{{firstTime | date:'yyyy-MM-ddThh:mm'}}"
                max="{{lastTime | date:'yyyy-MM-ddThh:mm'}}">
        </mat-form-field>
        ---
        <mat-form-field>
            <input matInput type="datetime-local" [(ngModel)]="maxTime" min="{{firstTime | date:'yyyy-MM-ddThh:mm'}}"
                max="{{lastTime | date:'yyyy-MM-ddThh:mm'}}">
        </mat-form-field>
        <br />
        <mat-form-field>
            <mat-label>מוצא</mat-label>
            <mat-select [(value)]="source">
                <mat-option value="*">הכל</mat-option>
                <mat-option *ngFor="let country of sourcesCountries" value="{{country}}">{{country}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
            <mat-label>יעד</mat-label>
            <mat-select [(value)]="destination">
                <mat-option value="*">הכל</mat-option>
                <mat-option *ngFor="let country of destinationsCountries" value="{{country}}">{{country}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <p>מחיר</p>
        <ngx-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="ngx_slider_options">
        </ngx-slider>
        <br />
        <button mat-raised-button color="primary" (click)="search()">חיפוש</button>
    </div>
    <div class="head" style="flex: 2;">
        <h3 style="text-align: center;">הטיסות שלנו</h3>
        <table mat-table [dataSource]="dataSource" matSort style="width: 80%;" class="nested">

            <ng-container matColumnDef="departure">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> שעת המראה </th>
                <td mat-cell *matCellDef="let flight"> {{flight.departure | date:'HH:mm dd/MM/yy'}} </td>
            </ng-container>

            <ng-container matColumnDef="from_country">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> מוצא </th>
                <td mat-cell *matCellDef="let flight"> {{flight.from_country}} </td>
            </ng-container>

            <ng-container matColumnDef="to_country">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> יעד </th>
                <td mat-cell *matCellDef="let flight"> {{flight.to_country}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> מחיר כרטיס </th>
                <td mat-cell *matCellDef="let flight"> {{flight.price}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="../detailed/{{row.flight_no}}"
                routerLinkActive="active" class="row-flight"></tr>
        </table>
    </div>
</div>