input[type="datetime-local"] {
    font-size: 15px;
}

::ng-deep {
    .ngx-slider {
        .ngx-slider-selection {
            background-color: #3f51b5 !important;
        }
        .ngx-slider-pointer {
            background-color: #3f51b5 !important;
        }
        .ngx-slider-active::after {
            background-color: white !important;
        }
    }
}
