::ng-deep{
    .mat-dialog-container {
        box-shadow: 0px 0px !important;
        background-color: transparent !important;
    .head {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        }
    }
}