<div class="flexed-div" style="height: 100%;" *ngIf="service.flight">
    <app-flight-detailes class="nested-flex head" style="flex:1;" [flight]="service.flight">
    </app-flight-detailes>
    <div class="head" style="flex:2;background: transparent; padding:0px;height: 70%;">
        <div class="head"
            style="max-height: 80%;min-height: 230px; overflow: auto; padding-bottom: 0px; margin:auto; width:80%">
            <ng-container *ngIf="!inSeats else additionals">
                <mat-form-field>
                    <mat-label>כמה נוסעים אתם?</mat-label>
                    <input matInput type="number" min="1" max="{{service.flight.freeSeats}}" [(ngModel)]="passengers"
                        (change)="changePassengersNumber()" />
                </mat-form-field>
                <div id="passengerDetailes" *ngFor="let form of passengersForms.controls; let x = index"
                    [formGroup]="form">
                    <mat-label>{{x+1}}. </mat-label>
                    <mat-form-field>
                        <mat-label>שם מלא בעברית</mat-label>
                        <input matInput type="text" formControlName="hebrew_name" required />
                        <mat-error *ngIf="asFormGroup(form).getError('required','hebrew_name')">
                            <mat-label>שדה חובה</mat-label>
                        </mat-error>
                        <mat-error *ngIf="asFormGroup(form).getError('pattern','hebrew_name')">
                            <mat-label>תווים בעברית בלבד</mat-label>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>שם מלא באנגלית</mat-label>
                        <input matInput type="text" formControlName="english_name" required />
                        <mat-error *ngIf="asFormGroup(form).getError('required','english_name')">
                            <mat-label>שדה חובה</mat-label>
                        </mat-error>
                        <mat-error *ngIf="asFormGroup(form).getError('pattern','english_name')">
                            <mat-label>תווים באנגלית בלבד</mat-label>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>מספר דרכון</mat-label>
                        <input matInput type="text" formControlName="passport" required />
                        <mat-error *ngIf="asFormGroup(form).getError('required','passport')">
                            <mat-label>שדה חובה</mat-label>
                        </mat-error>
                        <mat-error *ngIf="asFormGroup(form).getError('pattern','passport')">
                            <mat-label>ספרות בלבד</mat-label>
                        </mat-error>
                    </mat-form-field>
                </div>
            </ng-container>
            <ng-template #additionals>
                <h3>תרצה לבחור כסא במטוס? (20₪)</h3>
                <div *ngFor="let ticket of service.newTickets; let i = index">
                    <span>{{i+1}}.
                        {{asFormGroup(passengersForms.controls[i]).get('hebrew_name').value.split(' ')[0]}}</span>
                    <mat-form-field class="small-form-field">
                        <mat-label>שורה</mat-label>
                        <mat-select [(ngModel)]="ticket.row" (selectionChange)="catchSeat(ticket)"
                            (valueChange)="releaseSeat(ticket)">
                            <ng-container *ngFor="let x of service.flight.seats; let z = index;">
                                <mat-option *ngIf="freeRows.includes(z) || ticket.row == z" [value]="z">{{z+1}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="small-form-field">
                        <mat-label>מושב</mat-label>
                        <mat-select [(ngModel)]="ticket.seat" (selectionChange)="catchSeat(ticket)"
                            (valueChange)="releaseSeat(ticket)">
                            <ng-container *ngFor="let y of service.flight.seats[ticket.row]; let z = index;">
                                <mat-option *ngIf="!y || ticket.seat == z" [value]="z"> {{"ABCDEFGHIJK"[z]}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="clearChoises(ticket)">ניקוי</button>
                </div>
            </ng-template>
            <div
                style="position: sticky; bottom: 20px; background-color:rgba(0, 0, 0, 0.1); height: 20px; padding: 20px;">
                <button mat-raised-button color="primary" *ngIf="!inSeats" (click)="inSeats = true"
                    style="position: absolute; left: 20px;bottom:7px" [disabled]="!isThereUsers()">לבחירת
                    מקומות ></button>
                <button mat-raised-button color="primary" *ngIf="inSeats" (click)="inSeats = false"
                    style="position: absolute; bottom:7px">
                    < חזרה לפרטי הנוסעים</button>
            </div>
            <div style="position: sticky; bottom: 0px; height: 20px;background: rgb(200, 230, 250);"> </div>
        </div>
        <div class="head" style="background-color: seagreen; width: 75%;margin-right:auto;margin-left:auto;">
            <span style="color:white">מחיר כולל: {{service.flight.price * passengers + service.chosenSeats * 20}}</span>
            <button mat-raised-button color="primary" (click)="saveData()"
                style="position: absolute; left: 20px; bottom: 7px;">אישור והמשך לתשלום</button>
        </div>
    </div>
</div>