<ng-container *ngIf="login else register;">
    <mat-form-field>
        <mat-label>כתובת אימייל</mat-label>
        <input matInput type="email" [(ngModel)]="user.email" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>סיסמה</mat-label>
        <input matInput type="password" [(ngModel)]="user.password" />
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary" (click)="enter()">כניסה</button>
    <button mat-button *ngIf="canRegister" (click)="login = !login">עדיין לא רשום? הירשם עכשיו</button>
</ng-container>
<ng-template #register>
    <mat-form-field>
        <mat-label>כתובת אימייל</mat-label>
        <input matInput type="email" [(ngModel)]="user.email" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>סיסמה</mat-label>
        <input matInput type="password" [(ngModel)]="user.password" />
    </mat-form-field>
    <br />
    <mat-form-field>
        <mat-label>שם משתמש</mat-label>
        <input matInput type="text" [(ngModel)]="user.name" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>מספר טלפון</mat-label>
        <input matInput type="number" [(ngModel)]="user.phone" />
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary" (click)="registerUser()">הרשמה</button>
    <button mat-button (click)="login = !login">כבר רשום?</button>
</ng-template>