<div class="flexed-div" *ngIf="flight != null" style="height: 85%;">
    <app-flight-detailes class="nested-flex head" style="flex:1;" [flight]="flight" [admin]="true"
        (whenDelete)="delete()"> </app-flight-detailes>
    <div class="nested-flex head" style="flex:2; direction: ltr;max-height: 80%; overflow: auto;">
        <div class="center" style="width:fit-content;height: 100%;">
            <div class="flexed-div">
                <div class="texted-div"></div>
                <div *ngFor="let i of flight.seats[0];index as index" class="texted-div">
                    <p>{{"ABCDEFGHIJKLMNOP"[index]}}</p>
                </div>
            </div>
            <div *ngFor="let i of flight.seats; index as index" class="flexed-div">
                <div class="texted-div">
                    <p>{{index+1}}</p>
                </div>
                <div *ngFor="let x of i" class="texted-div" style="border-color:black;">
                    <p>{{x || 'פנוי'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>