<div class="flexed-div" style="flex-wrap: wrap; justify-content: space-around; overflow: auto; max-height: 85%;">
    <div class="head">
        <div class="nested">
            <h3 style="text-align: center;">טיסות</h3>
            <table mat-table [dataSource]="flightsDataSource" matSort>
                <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> מספר טיסה </th>
                    <td mat-cell *matCellDef="let flight"> {{flight.flight_no}} </td>
                </ng-container>

                <ng-container matColumnDef="plain_type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> סוג מטוס </th>
                    <td mat-cell *matCellDef="let flight"> {{flight.plain_type}} </td>
                </ng-container>

                <ng-container matColumnDef="departure">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> שעת המראה </th>
                    <td mat-cell *matCellDef="let flight"> {{flight.departure | date:'HH:mm dd/MM/yy'}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="arrivalTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> זמן נחיתה </th>
        <td mat-cell *matCellDef="let flight"> {{flight.arrivalTime | date:'HH:mm dd/MM/yy'}} </td>
    </ng-container> -->

                <ng-container matColumnDef="from">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> מוצא </th>
                    <td mat-cell *matCellDef="let flight"> {{flight.from_country + ' (' + flight.from_terminal + ')'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="to">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> יעד </th>
                    <td mat-cell *matCellDef="let flight"> {{flight.to_country + ' (' + flight.to_terminal + ')'}} </td>
                </ng-container>

                <ng-container matColumnDef="distance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> מרחק </th>
                    <td mat-cell *matCellDef="let flight"> {{flight.distance}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="estimatedTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> זמן טיסה משוער </th>
        <td mat-cell *matCellDef="let flight"> {{flight.estimatedTime}} </td>
    </ng-container> -->

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> מחיר כרטיס </th>
                    <td mat-cell *matCellDef="let flight"> {{flight.price}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="freeSeats">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> מקומות פנויים </th>
        <td mat-cell *matCellDef="let flight"> {{flight.seats.length * flight.seats[0].length - flight.tickets}} </td>
    </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumnsOfFlights"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsOfFlights;"
                    routerLink="../flight/{{row.flight_no}}" routerLinkActive="active" class="row-flight"></tr>
            </table>
            <button mat-raised-button color="primary" routerLink="../flight/add" routerLinkActive="active">הוסף
                טיסה</button>
        </div>
    </div>
    <div class="head">
        <div class="nested">
            <h3 style="text-align: center;">מטוסים</h3>
            <table mat-table [dataSource]="plainsDataSource" matSort>
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> סוג מטוס </th>
                    <td mat-cell *matCellDef="let plain"> {{plain.type}} </td>
                </ng-container>

                <ng-container matColumnDef="speed">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> מהירות טיסה </th>
                    <td mat-cell *matCellDef="let plain"> {{plain.speed}} </td>
                </ng-container>

                <ng-container matColumnDef="range">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> טווח טיסה </th>
                    <td mat-cell *matCellDef="let plain"> {{plain.range}} </td>
                </ng-container>

                <ng-container matColumnDef="number_of_rows">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> מספר שורות במטוס </th>
                    <td mat-cell *matCellDef="let plain"> {{plain.number_of_rows}} </td>
                </ng-container>

                <ng-container matColumnDef="seats_to_row">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> מספר כסאות בשורה </th>
                    <td mat-cell *matCellDef="let plain"> {{plain.seats_to_row}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> פעולות </th>
                    <td mat-cell *matCellDef="let plain">
                        <button mat-mini-fab style="background-color: seagreen; color: white;"
                            routerLink="../plain/edit/{{plain.type}}" routerLinkActive="active">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab style="background-color: rgb(230, 0, 0); color: white;"
                            (click)="deletePlain(plain.type)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsOfPlains"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsOfPlains;"></tr>
            </table>
            <button mat-raised-button color="primary" routerLink="../plain/add" routerLinkActive="active">הוסף
                מטוס</button>
        </div>
    </div>
    <div class="head">
        <div class="nested">
            <h3 style="text-align: center;">משתמשים</h3>
            <table mat-table [dataSource]="usersDataSource" matSort>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> שם </th>
                    <td mat-cell *matCellDef="let user"> {{user.name}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> אימייל </th>
                    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
                </ng-container>

                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> מספר טלפון </th>
                    <td mat-cell *matCellDef="let user"> {{user.phone}} </td>
                </ng-container>

                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> הרשאה </th>
                    <td mat-cell *matCellDef="let user"> {{user.role}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> פעולות </th>
                    <td mat-cell *matCellDef="let user">
                        <button mat-mini-fab style="background-color: seagreen; color: white;">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab style="background-color: rgb(230, 0, 0); color: white;"
                            (click)="deleteUser(user.email,user.name)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsOfUsers"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsOfUsers;"></tr>
            </table>
        </div>
    </div>
</div>