<div class="flexed-div">
    <div class="head" style="flex: 2;">
        <div class="nested">
            <h3>כל הטיסות במערכת</h3>
            <table mat-table [dataSource]="flightsDataSource" matSort>
                <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> מספר טיסה </th>
                    <td mat-cell *matCellDef="let flight"> {{flight.flight_no}} </td>
                </ng-container>

                <ng-container matColumnDef="plain_type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> סוג מטוס </th>
                    <td mat-cell *matCellDef="let flight"> {{flight.plain_type}} </td>
                </ng-container>

                <ng-container matColumnDef="departure">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> שעת המראה </th>
                    <td mat-cell *matCellDef="let flight"> {{flight.departure | date:'HH:mm dd/MM/yy'}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="arrivalTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> זמן נחיתה </th>
        <td mat-cell *matCellDef="let flight"> {{flight.arrivalTime | date:'HH:mm dd/MM/yy'}} </td>
    </ng-container> -->

                <ng-container matColumnDef="from">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> מוצא </th>
                    <td mat-cell *matCellDef="let flight"> {{flight.from_country + ' (' + flight.from_terminal + ')'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="to">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> יעד </th>
                    <td mat-cell *matCellDef="let flight"> {{flight.to_country + ' (' + flight.to_terminal + ')'}} </td>
                </ng-container>

                <ng-container matColumnDef="distance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> מרחק </th>
                    <td mat-cell *matCellDef="let flight"> {{flight.distance}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="estimatedTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> זמן טיסה משוער </th>
        <td mat-cell *matCellDef="let flight"> {{flight.estimatedTime}} </td>
    </ng-container> -->

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> מחיר כרטיס </th>
                    <td mat-cell *matCellDef="let flight"> {{flight.price}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="freeSeats">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> מקומות פנויים </th>
        <td mat-cell *matCellDef="let flight"> {{flight.seats.length * flight.seats[0].length - flight.tickets}} </td>
    </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumnsOfFlights"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsOfFlights;"
                    routerLink="../flight/{{row.flight_no}}" routerLinkActive="active" class="row-flight"></tr>
            </table>
            <button mat-raised-button color="primary" routerLink="../add-a-flight" routerLinkActive="active">הוסף
                טיסה</button>
        </div>
    </div>
    <div class="head" style="flex: 1;">
        <div class="nested">
            <h3>כל המטוסים</h3>
            <table mat-table [dataSource]="plainsDataSource" matSort>
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> סוג מטוס </th>
                    <td mat-cell *matCellDef="let plain"> {{plain.type}} </td>
                </ng-container>

                <ng-container matColumnDef="speed">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> מהירות טיסה </th>
                    <td mat-cell *matCellDef="let plain"> {{plain.speed}} </td>
                </ng-container>

                <ng-container matColumnDef="range">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> טווח טיסה </th>
                    <td mat-cell *matCellDef="let plain"> {{plain.range}} </td>
                </ng-container>

                <ng-container matColumnDef="number_of_rows">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> מספר שורות במטוס </th>
                    <td mat-cell *matCellDef="let plain"> {{plain.number_of_rows}} </td>
                </ng-container>

                <ng-container matColumnDef="seats_to_row">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> מספר כסאות בשורה </th>
                    <td mat-cell *matCellDef="let plain"> {{plain.seats_to_row}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumnsOfPlains"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsOfPlains;" routerLink="../plain/{{row.type}}"
                    routerLinkActive="active" class="row-flight"></tr>
            </table>
            <button mat-raised-button color="primary" routerLink="../add-a-plain" routerLinkActive="active">הוסף
                מטוס</button>
        </div>
    </div>
</div>