<div class="flexed-div" style="height: 100%;">
    <div *ngIf="flight" class="nested-flex head" style="flex:1">
        <h4>פרטי הטיסה שלך</h4>
        <p>{{flight.departure | date:'HH:mm dd/MM/yy'}} - {{flight.landing | date:'HH:mm dd/MM/yy'}}
            <br />
            (זמן משוער : {{flight.estimated_time_string}})
        </p>
        <p>{{flight.from_country}} ({{flight.from_terminal}}) -
            {{flight.to_country}} ({{flight.to_terminal}})</p>
        <p>{{flight.distance}}</p>
        <p>{{flight.plain.type}}</p>
        <p>{{flight.price}}</p>
    </div>
    <div class="nested-flex head" style="flex:2;max-height: 80%; overflow: auto;">
        <div class="up-div" *ngIf="loggedIn else login" style="width: fit-content;margin: auto;position: relative;">
            <mat-form-field>
                <mat-label>כמה נוסעים אתם?</mat-label>
                <input matInput type="number" min="1" [(ngModel)]="passengers" (change)="changePassengersNumber()" />
            </mat-form-field>
            <div id="passengerDetailes" *ngFor="let ticket of service.tickets; let x = index">
                <mat-label>{{x+1}}. </mat-label>
                <mat-form-field>
                    <mat-label>שם מלא בעברית</mat-label>
                    <input matInput type="text" [(ngModel)]="ticket.passenger.hebrew_name"
                        [pattern]="'^[\u0590-\u05fe ]*$'" required />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>שם מלא באנגלית</mat-label>
                    <input matInput type="text" [(ngModel)]="ticket.passenger.english_name" [pattern]="'^[a-zA-Z ]*$'"
                        required />
                </mat-form-field>
                <mat-form-field id="id-number">
                    <mat-label>מספר דרכון</mat-label>
                    <input matInput type="number" [(ngModel)]="ticket.passenger.passport" required />
                </mat-form-field>
            </div>
            <span>מחיר כולל: {{flight?.price * passengers}}</span>
            <button mat-raised-button color="primary" [disabled]="!isThereUsers()" (click)="saveData()"
                routerLink="../../finish" routerLinkActive="active"
                style="position: absolute; left: 20px; bottom: -8px;">אישור</button>
        </div>
        <ng-template #login>
            <app-login (logined)="loginDone($event)"></app-login>
        </ng-template>
    </div>
</div>