<div style="width: 100%;">
    <button mat-fab color="primary" routerLink="" routerLinkActive="active">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-raised-button color="primary" routerLink="orders" routerLinkActive="active">
        הזמנת כרטיסים
    </button>
    <button mat-raised-button color="primary" routerLink="user" routerLinkActive="active">
        לאיזור האישי
    </button>
    <button mat-raised-button color="primary" routerLink="admin" routerLinkActive="active">
        לניהול
    </button>
</div>