input[type="datetime-local"] {
    font-size: 15px;
}

::ng-deep {
    .ng5-slider {
        .ng5-slider-selection {
            background-color: #3f51b5 !important;
        }
        .ng5-slider-pointer {
            background-color: #3f51b5 !important;
        }
        .ng5-slider-active::after {
            background-color: white !important;
        }
    }
}

.row-flight {
    cursor: pointer;
}

.row-flight:hover {
    td {
        border-top: 1px solid;
        border-bottom: 1px solid;
    }
    td:first-child {
        border-right: 1px solid;
    }
    td:last-child {
        border-left: 1px solid;
    }
}
