<mat-grid-list cols="3">
    <mat-grid-tile [colspan]="2">
        <mat-accordion class="up-div">
            <mat-expansion-panel id="contactDetails" [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        פרטים ליצירת קשר
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <mat-label>טלפון</mat-label>
                    <input matInput type="tel" [(ngModel)]="tel" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>אימייל</mat-label>
                    <input matInput type="email" [(ngModel)]="email" required>
                </mat-form-field>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>בחירת מושב</mat-panel-title>
                    <mat-panel-description>20₪ לבחירה של מושב</mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let person of service.persons; let i = index">
                    <span>{{i+1}}. {{person.heName.split(' ')[0]}}</span>
                    <mat-form-field class="small-form-field">
                        <mat-label>שורה</mat-label>
                        <mat-select [(ngModel)]="person.selectedRow" (selectionChange)="catchSeat(person)"
                            (valueChange)="releaseSeat(person)">
                            <mat-option *ngFor="let x of freeRows" [value]="x">{{x+1}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="small-form-field">
                        <mat-label>מושב</mat-label>
                        <mat-select [(ngModel)]="person.selectedSeat" (selectionChange)="catchSeat(person)"
                            (valueChange)="releaseSeat(person)">
                            <mat-option *ngFor="let y of service.flight.seats[person.selectedRow] | seatMapFilter"
                                [value]="y">
                                {{"ABCDEFGHIJK"[y]}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="clearChoises(person)">ניקוי</button>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <div class="up-div">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            כרטיסי טיסה : {{service.persons.length * service.flight.cost}}
                        </mat-panel-title>
                        <mat-panel-description>לפירוט</mat-panel-description>
                    </mat-expansion-panel-header>
                    כמות : {{service.persons.length}}
                    <br />
                    מחיר ליחידה : {{service.flight.cost}}₪
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="seatsNumber>0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            מושבים : {{seatsNumber * 20}}
                        </mat-panel-title>
                        <mat-panel-description>לפירוט</mat-panel-description>
                    </mat-expansion-panel-header>
                    כמות : {{seatsNumber}}
                    <br />
                    מחיר ליחידה : 20₪
                </mat-expansion-panel>
            </mat-accordion>
            <div style="margin-top: 20px;">
                <ngx-paypal [config]="payPalConfig" (scriptLoaded)="done()"></ngx-paypal>
                <mat-spinner *ngIf="!paypalScriptLoaded" style="margin:auto"></mat-spinner>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>