<mat-grid-list cols="3">
    <mat-grid-tile [colspan]="2">
        <mat-accordion class="up-div">
            <mat-expansion-panel id="contactDetails">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        פרטים ליצירת קשר
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <mat-label>טלפון</mat-label>
                    <input matInput type="tel" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>אימייל</mat-label>
                    <input matInput type="email" required>
                </mat-form-field>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>בחירת מושב</mat-panel-title>
                </mat-expansion-panel-header>
                באיזה מושב ברצונך לשבת?
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>שירותים נוספים</mat-panel-title>
                </mat-expansion-panel-header>
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <div class="up-div">
            <mat-label>אנא בחר את שיטת התשלום הרצויה<br/>שים לב! התשלום הינו סופי ואינו ניתן לביטול</mat-label>
            <ngx-paypal [config]="payPalConfig" style="width: 80%;"></ngx-paypal>
        </div>
    </mat-grid-tile>
</mat-grid-list>