<div class="flexed-div">
    <div class="head" style="flex:2">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>בחירת מושב</mat-panel-title>
                    <mat-panel-description>20₪ לבחירה של מושב</mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let ticket of service.tickets; let i = index">
                    <span>{{i+1}}. {{ticket.passenger.hebrew_name.split(' ')[0]}}</span>
                    <mat-form-field class="small-form-field">
                        <mat-label>שורה</mat-label>
                        <mat-select [(ngModel)]="ticket.row" (selectionChange)="catchSeat(ticket)"
                            (valueChange)="releaseSeat(ticket)">
                            <ng-container *ngFor="let x of service.flight.seats; let z = index;">
                                <mat-option *ngIf="freeRows.includes(z) || ticket.row == z" [value]="z">{{z+1}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="small-form-field">
                        <mat-label>מושב</mat-label>
                        <mat-select [(ngModel)]="ticket.seat" (selectionChange)="catchSeat(ticket)"
                            (valueChange)="releaseSeat(ticket)">
                            <ng-container *ngFor="let y of service.flight.seats[ticket.row]; let z = index;">
                                <mat-option *ngIf="!y || ticket.seat == z" [value]="z"> {{"ABCDEFGHIJK"[z]}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="clearChoises(ticket)">ניקוי</button>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="head" style="flex:2">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        כרטיסי טיסה : {{service.tickets.length * service.flight.price}}
                    </mat-panel-title>
                    <mat-panel-description>לפירוט</mat-panel-description>
                </mat-expansion-panel-header>
                כמות : {{service.tickets.length}}
                <br />
                מחיר ליחידה : {{service.flight.price}}₪
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="this.service.chosenSeats>0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        מושבים : {{this.service.chosenSeats * 20}}
                    </mat-panel-title>
                    <mat-panel-description>לפירוט</mat-panel-description>
                </mat-expansion-panel-header>
                כמות : {{this.service.chosenSeats}}
                <br />
                מחיר ליחידה : 20₪
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="head" style="flex:1">
        <ngx-paypal [config]="payPalConfig" (scriptLoaded)="paypalScriptLoaded = true"></ngx-paypal>
        <mat-spinner *ngIf="!paypalScriptLoaded" style="margin:auto"></mat-spinner>
    </div>

</div>
<button (click)="demoSave()">שמור דמו</button>